@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes loaderAnimation {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff
}

.loader img {
    width: 60px;
    height: 60px
}

.loader:after,.loader:before {
    content: "";
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #666;
    border-color: #666 #666 #666 transparent;
    animation: loaderAnimation 1.2s linear infinite
}

.loader:after {
    border-color: orange orange orange transparent;
    animation: loaderAnimation .6s linear infinite
}