@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0);
    }

    to {
        transform: translate(-90px, 0);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0);
    }

    to {
        transform: translate(-90px, 0);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0);
    }

    to {
        transform: translate(85px, 0);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0);
    }

    to {
        transform: translate(85px, 0);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0);
    }

    to {
        transform: translate(85px, 0);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0);
    }

    to {
        transform: translate(85px, 0);
    }
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fc8129;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

h6 {
    font-family: "Raleway", sans-serif;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i,
.nav-menu a {
    color: #fff;
    border-radius: 50px;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    background: #ef6603;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #fc7c1f;
    color: #fff;
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

#header {
    height: 70px;
    z-index: 997;
    transition: all 0.5s;
}

#header.header-transparent {
    background: 0 0;
}

#header,
#header.header-scrolled {
    background: #333;
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    padding: 5px 15px 7px;
    margin-left: 5px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu .active>a,
.nav-menu a:hover,
.nav-menu li:hover>a {
    background: #ef6603;
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
    border-radius: 15px;
    margin-top: 5px;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.mobile-nav a,
.nav-menu .drop-down ul a {
    color: #2a2c39;
    padding: 10px 20px;
    font-weight: 500;
}

.nav-menu .drop-down ul a {
    font-size: 14px;
    text-transform: none;
}

.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul li:hover>a {
    color: #ef6603;
    background: 0 0;
}

.nav-menu .drop-down>a:after {
    content: "";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down>a:after {
        content: "";
    }
}

.nav-column {
    float: left;
    width: 50%;
}

.nav-row::after {
    content: "";
    display: table;
    clear: both;
}

.nav-opp {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.nav-solutions {
    white-space: normal;
    padding: 3px;
    word-wrap: normal;
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: 0 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: 0 !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

#hero p,
.mobile-nav-active .mobile-nav-toggle i,
.mobile-nav-toggle i {
    color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    outline: 0;
}

#hero .btn-get-started:hover,
.mobile-nav .active>a,
.mobile-nav a:hover,
.mobile-nav li:hover>a {
    color: #ef6603;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul,
.mobile-nav-overly {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(20, 21, 28, 0.6);
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

#hero,
#hero .carousel-container {
    position: relative;
    width: 45%;
    height: 70vh;
    background-color: #111;
}

#hero {
    overflow: hidden;
    background: #333;
    padding: 0 0 0;
    width: 100%;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
    /* margin: 0 auto; */
}

.indicators-width {
    width: 15%;
}

@media only screen and (max-width: 768px) {
    #hero .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 20vh;
        /* margin: 0 auto; */
    }

    #hero,
    #hero .carousel-container {
        position: relative;
        width: 100%;
        height: 70vh;
        background: none;
    }

    .indicators-width {
        width: auto;
    }
}

#hero h2,
#hero h3 {
    color: #fff;
    /* margin-bottom: 30px; */
    font-size: 30px;
    font-weight: 700;
    margin: 0 30px 30px 30px;
}

#hero h3 {
    text-align: left;
}

#hero p {
    width: 80%;
    font-size: 14px;
    font-weight: 350;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 50px;
    text-align: center;
}

#hero .carousel-control-next,
#hero .carousel-control-prev {
    width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: 0 0;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #ef6603;
    background: #ef6603;
}

#hero .btn-get-started:hover {
    background: #fff;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        background-position: 0 0;
    }

    100% {
        opacity: 1;
        background-position: 100% 0;
    }
}

#hero .carousel-item:nth-child(1),
#hero .carousel-item:nth-child(2) {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
        url(../img/carousel/norton.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    /* animation: fadeInAnimation 5s ease-in-out alternate; */
}

#hero .carousel-item:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/carousel/watchguard.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero .carousel-item:nth-child(3),
#hero .carousel-item:nth-child(4),
#hero .carousel-item:nth-child(5) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../img/carousel/foxit.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero .carousel-item:nth-child(4),
#hero .carousel-item:nth-child(5) {
    background-image: linear-gradient(rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0.6)),
        url(../img/carousel/fids-new-banner.png);
}

#hero .carousel-item:nth-child(5) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/carousel/Heimdal-Prevention.png);
}

#hero .carousel-item:nth-child(6),
#hero .carousel-item:nth-child(7),
#hero .carousel-item:nth-child(8) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/carousel/anydesk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero .carousel-item:nth-child(7),
#hero .carousel-item:nth-child(8) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/carousel/netgate-new-banner.png);
}

#hero .carousel-item:nth-child(8) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/carousel/foxit-banner.jpg);
}

#hero .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }

    #hero .carousel-control-next,
    #hero .carousel-control-prev {
        width: 5%;
    }
}

@media (max-width: 768px) {
    #hero .carousel-container {
        height: 90vh;
    }

    #hero h2 {
        font-size: 28px;
    }

    #hero .carousel-item:nth-child(1) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../img/carousel/norton.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #hero .carousel-item:nth-child(3),
    #hero .carousel-item:nth-child(4),
    #hero .carousel-item:nth-child(5) {
        background-image: linear-gradient(rgba(40, 67, 135, 0.5),
                rgba(40, 67, 135, 0.5)),
            url(../img/carousel/foxit_mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
}

.wave1 use,
.wave2 use,
.wave3 use {
    -webkit-animation: move-forever1 15s linear infinite;
    animation: move-forever1 15s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use,
.wave3 use {
    -webkit-animation: move-forever2 13s linear infinite;
    animation: move-forever2 13s linear infinite;
}

.wave3 use {
    -webkit-animation: move-forever3 11s linear infinite;
    animation: move-forever3 11s linear infinite;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 0;
}

.section-title h2,
.section-title p {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px;
    letter-spacing: 2px;
    color: #aaa;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: #2a2c39;
}

.about {
    padding-top: 30px;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul,
.features .tab-pane ul,
.products .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li,
.products .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li+li,
.products .content ul li+li {
    margin-top: 10px;
}

.about .content ul i,
.products .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #ef6603;
    line-height: 1;
}

.about .content p:last-child,
.features .tab-pane p:last-child,
.products .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #ef6603;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef6603;
}

.about .content .btn-learn-more:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 360px) {
    .about .content img {
        width: 100%;
    }
}

.project {
    padding-top: 100px;
}

.project .project-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 30px 15px;
    text-align: center;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.project .project-item .project-img {
    width: 200px;
    border: 4px solid #fff;
    margin: 0 auto;
}

.partners .partners-item h3,
.project .project-item h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0 5px;
    color: #111;
}

.partners .partners-item h4,
.project .project-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.project .project-item .quote-icon-left,
.project .project-item .quote-icon-right {
    color: #fedac0;
    font-size: 26px;
}

.project .project-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.project .project-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.partners .testimonial-item p,
.project .project-item p {
    margin: 0 auto 15px;
    text-align: left;
}

.project .owl-dots,
.project .owl-nav {
    margin-top: 5px;
    text-align: center;
}

.project .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.project .owl-dot.active {
    background-color: #ef6603 !important;
}

@media (max-width: 767px) {
    .project {
        margin: 30px 10px;
    }
}

.project .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #ef6603;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef6603;
}

.project .btn-learn-more:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
}

.partners .partners-item {
    margin: 30px 15px;
    text-align: center;
}

.partners .partners-item .partners-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.partners .partners-item h3 {
    font-size: 18px;
}

.partners .partners-item .quote-icon-left,
.partners .partners-item .quote-icon-right {
    color: #fedac0;
    font-size: 26px;
}

.partners .partners-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.partners .partners-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.partners .owl-dots,
.partners .owl-nav {
    margin-top: 5px;
    text-align: center;
}

.partners .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.partners .owl-dot.active {
    background-color: #ef6603 !important;
}

@media (max-width: 767px) {
    .partners {
        margin: 30px 10px;
    }
}

.partners .btn-learn-more:hover,
.products .content .btn-learn-more:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
}

.products {
    padding-top: 20px;
}

.features .tab-pane h3,
.products .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.partners .btn-learn-more,
.products .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #ef6603;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef6603;
}

.features .nav-tabs {
    border: 0;
}

.features .nav-link {
    border: 1px solid #d4d6df;
    padding: 15px;
    transition: 0.3s;
    color: #2a2c39;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features .nav-link i {
    padding-right: 15px;
    font-size: 48px;
}

.features .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.features .nav-link:hover,
.portfolio #portfolio-flters li.filter-active,
.portfolio #portfolio-flters li.filter-active::after,
.portfolio #portfolio-flters li.filter-active::before,
.portfolio #portfolio-flters li:hover,
.services .title a:hover {
    color: #ef6603;
}

.features .nav-link.active {
    background: #ef6603;
    color: #fff;
    border-color: #ef6603;
}

@media (max-width: 768px) {
    .features .nav-link i {
        padding: 0;
        line-height: 1;
        font-size: 36px;
    }
}

@media (max-width: 575px) {
    .features .nav-link {
        padding: 15px;
    }

    .features .nav-link i {
        font-size: 24px;
    }
}

.features .tab-content {
    margin-top: 30px;
}

.features .tab-pane ul li {
    padding-bottom: 10px;
}

.features .tab-pane ul i,
.pricing ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #ef6603;
}

.wrapper {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-fostrap {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

.fostrap-logo {
    width: 100px;
    margin-bottom: 15px;
}

h4.heading {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #505050;
}

@media (min-width: 450px) {
    h4.heading {
        font-size: 3.55em;
    }
}

@media (min-width: 760px) {
    h4.heading {
        font-size: 3.05em;
    }
}

@media (min-width: 900px) {
    h4.heading {
        font-size: 3.25em;
        margin: 0 0 0.3em;
    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #333;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.25s;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .img-card {
    transform: scale(1.1);
}

.card:hover .overlay {
    opacity: 1;
}

.img-card {
    width: 50%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.img-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.25s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
    text-align: left;
}

.card-title {
    margin: 5px 0 0 0;
    font-weight: 700;
    font-size: 1.65em;
    color: #333;
}

.card-title a {
    color: #000;
    text-decoration: none !important;
}

.card-title a:hover {
    color: #ef6603;
}

.card-read-more {
    border-top: 1px solid #d4d4d4;
}

.card-text {
    margin: 5px 0 0 0;
    font-size: small;
}

.card-read-more a {
    text-decoration: none !important;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

/* @media (min-width: 768px) {
    .row-cols-md-1 .col-md-7 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .row-cols-md-1 .col-md-5 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  } */

.cta {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/assets/img/cta_background.webp) no-repeat center;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
}

.cta .cta-btn,
.cta h3 {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 20px;
}

.cta h4 {
    font-size: 21px;
    font-weight: 800;
    margin: 0 0 20px;
}

#footer,
.cta h4,
.cta p {
    color: #fff;
}

.cta ul li {
    color: #fff;
    margin: 0 0 6px;
}

.cta .cta-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    background: #ef6603;
}

.cta .cta-btn:hover {
    background: #fff;
    color: #ef6603;
}

@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
}

.services .icon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}

.services .icon,
.services .image {
    position: absolute;
    left: -20px;
    top: calc(50% - 30px);
}

.services .image {
    left: 10px;
    top: calc(50% - 50px);
}

.services .icon i {
    font-size: 64px;
    line-height: 1;
    transition: 0.5s;
}

.services .title,
.services .title-main-product {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #2a2c39;
    transition: ease-in-out 0.3s;
}

.services .title-main-product {
    margin-left: 70px;
}

.services .description {
    font-size: 14px;
    margin-left: 80px;
    line-height: 24px;
    margin-bottom: 0;
}

.companySlider .companySlider-item {
    margin: 30px 15px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.companySlider .companySlider-item .companySlider-img {
    width: 70px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.companySlider .companySlider-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 5px;
    color: #111;
}

.companySlider .companySlider-item h4,
.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.companySlider .companySlider-item .quote-icon-left,
.companySlider .companySlider-item .quote-icon-right {
    color: #fedac0;
    font-size: 26px;
}

.companySlider .companySlider-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.companySlider .companySlider-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.companySlider .testimonial-item p {
    margin: 0 auto 15px;
    text-align: center;
}

.companySlider .owl-dots,
.companySlider .owl-nav {
    margin-top: 5px;
    text-align: center;
}

.companySlider .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.companySlider .owl-dot.active {
    background-color: #ef6603 !important;
}

@media (max-width: 767px) {
    .companySlider {
        margin: 20px 5px;
    }
}

.companySlider .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #ef6603;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 10px;
    border: 2px solid #ef6603;
}

.companySlider .btn-learn-more:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
}

.portfolio #portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 10px 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #444;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li::before {
    content: "[";
    margin-right: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li::after {
    content: "]";
    margin-left: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
    transition: all 0.8s ease-in-out;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4,
.pricing h4 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info p {
    color: #fedac0;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .details-link,
.portfolio .portfolio-item .portfolio-info .preview-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #fff;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
}

.portfolio .portfolio-item .portfolio-info .details-link:hover,
.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-links a:hover {
    color: #fd9f5b;
}

.portfolio .portfolio-item .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.2);
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 30px 15px;
    text-align: center;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.pricing h3,
.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 25px;
    color: #111;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #fedac0;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    margin: 0 auto 15px;
    text-align: left;
}

.testimonials .owl-dots,
.testimonials .owl-nav {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.testimonials .owl-dot.active {
    background-color: #ef6603 !important;
}

@media (max-width: 767px) {
    .testimonials {
        margin: 20px 10px;
    }
}

.testimonials .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #ef6603;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef6603;
}

.testimonials .btn-learn-more:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
}

.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.pricing h3 {
    margin: -20px -20px 25px;
    padding: 30px 15px;
    font-weight: 600;
    color: #777;
    background: #f8f8f8;
}

.pricing h4 {
    font-size: 36px;
    color: #ef6603;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

#footer h3,
.pricing ul {
    font-size: 14px;
    padding: 0;
}

.pricing ul {
    list-style: none;
    color: #444;
    text-align: center;
    line-height: 20px;
}

.pricing ul li {
    padding-bottom: 16px;
}

.pricing ul i {
    font-size: 18px;
}

.pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .btn-wrap {
    margin: 20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
}

.pricing .btn-buy {
    background: #ef6603;
    display: inline-block;
    padding: 8px 35px 10px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.pricing .btn-buy:hover {
    background: #fc8129;
}

.pricing .featured {
    border: 2px solid #ef6603;
}

#footer .social-links a,
.pricing .advanced,
.pricing .featured h3 {
    color: #fff;
    background: #ef6603;
}

.pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px;
}

#footer {
    background: #333;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    padding: 25px 0;
}

#footer h3 {
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Open Sans", sans-serif;
    margin: 0 0 12px;
}

#footer li {
    font-size: 12px;
    padding: 0;
}

#footer .social-links,
#footer li {
    margin: 0 0 40px;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #bd5102;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px;
}

#footer .credits {
    font-size: 13px;
}

@media only screen and (min-width: 768px) {
    #first {
        border-right: 1px solid gray;
        border-bottom: 0px;
    }

    #second {
        border-right: 1px solid gray;
        border-bottom: 0px;
    }

    #third {
        border-right: 1px solid gray;
        border-bottom: 0px;
    }

    #fourth {
        border-right: 1px solid gray;
        border-bottom: 0px;
    }
}